<div class="panel">
    <div class="panel-heading">
        Create New  Customer Account 
    </div>
    <div class="panel-body">
        <div class="row">
            <input type="hidden" class="hide" id="id" value="@ViewBag.ManEmp" />
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Full Name <span  style="color:red;font-size:8px;">*</span></label>
                <input type="text" class="form-control input-sm" id="fullname" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Phone <span style="color:red;font-size:8px;">*</span></label>
                <input type="text" class="form-control input-sm" id="phone" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Primary Mobile  </label>
                <input type="text" class="form-control input-sm" id="mobilep" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Secondry Mobile </label>
                <input type="text" class="form-control input-sm" id="mobiles" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Nearest Pharmacy <span style="color:red;font-size:8px;">*</span></label>
                <input type="text" class="form-control input-sm" id="pharmap" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Second Nearest Pharmacy</label>
                <input type="text" class="form-control input-sm" id="pharmas" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Address <span style="color:red;font-size:8px;">*</span></label>
                <input type="text" class="form-control input-sm" id="address" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Langtitude</label>
                <input type="text" class="form-control input-sm" id="lang" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Latitude</label>
                <input type="text" class="form-control input-sm" id="lat" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Area <span style="color:red;font-size:8px;">*</span></label>
                @Html.Action("Select", "Areas")
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Type <span style="color:red;font-size:8px;">*</span></label>
                @Html.Action("Select", "Types")
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Speciality <span style="color:red;font-size:8px;">*</span></label>
                @Html.Action("Select", "Specials")
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Comment</label>
                <input type="text" class="form-control input-sm" id="comment" />
            </div>
        </div>
        <button class="btn btn-sm btn-primary" onclick="Add()">Create New Customer Account</button>
        <div class="alert hide" id="errorHandler"></div>
    </div>
</div>
<script src="~/Scripts/Customers/Add.js"></script>