<div class="panel">
    <div class="panel-heading">
        Create New Customer Type  
    </div>
    <div class="panel-body">
        <div class="row">
            <input type="hidden" id="id" />
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Type Name</label>
                <input type="text" class="form-control input-sm hide" id="id" />
                <input type="text" class="form-control input-sm" id="name" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Day Work Type </label>
                <select class="form-control input-sm" id="condition">
                    <option value="0"> Half Day </option>
                    <option value="1"> Full  Day </option>
                </select>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>No. Of Visits </label>
                <input type="text" class="form-control input-sm" id="novisits" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Color</label>
                @Html.Action("Select", "Colors")
            </div>
        </div>
        <button class="btn btn-sm btn-primary" onclick="Add()" id="savebtn"> Create Type </button>
        <button class="btn btn-sm btn-warning hide" onclick="Update()" id="editbtn">Update</button>
        <div class="alert hide" id="errorHandler"></div>
    </div>
</div>
<div class="panel">
    <div class="panel-heading">
        Customer Types Management 
    </div>
    <div class="panel-body">
        <div id="View"></div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Types/Operations.js"></script>
<script type="text/javascript" src="~/Scripts/Types/Add.js"></script>
