<div class="panel">
    <div class="panel-heading">
        Plan Month  
    </div>
    <div class="panel-body">
        <div class="row">
            <input type="hidden" id="id" value="@Convert.ToInt32(Session["UserID"])" />
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Schedualed For Month</label>
                <select class="form-control input-sm" id="month">
                    <option value="1" selected>Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
            </div>
        </div>
        <div class="alert hide" id="errorHandler"></div>
    </div>
</div>
<div class="panel">
    <div class="panel-heading">
        My Customers List 
    </div>
    <div class="panel-body">
        <div id="View"></div>
        <button class="btn btn-sm btn-primary" onclick="Add()"> Create Plan  </button>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Scheduale/Operations.js"></script>
<script type="text/javascript" src="~/Scripts/Scheduale/Add.js"></script>
