<div class="panel">
    <div class="panel-heading">
        Create New Product
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Product Name</label>
                <input type="text" class="form-control input-sm" id="fullname" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label>Comment</label>
                <input type="text" class="form-control input-sm" id="comment" />
            </div>
        </div>
        <button class="btn btn-sm btn-primary" onclick="Add()">Create New Product </button>
        <div class="alert hide" id="errorHandler"></div>
    </div>
</div>
<div class="panel">
    <div class="panel-heading">
          Products   Management
    </div>
    <div class="panel-body">
        <div id="View"></div>
    </div>
</div>

<script src="~/Scripts/Products/Add.js"></script>
<script src="~/Scripts/Products/Operations.js"></script>