<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon"><i class="pe-7s-home icon-gradient bg-mean-fruit"></i></div>
            <div>
                El-Gharib Sales moderationg 
                <p style="font-size:12px;color:gray;">system helps to minimize work flow and review each supplier or sales man work to help customers with more accurate work and rate.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6 col-xl-3">
        <a class="card mb-3 widget-content bg-midnight-bloom" href="#" target="_blank">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Customers</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"> <span> 3  </span></div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3  col-sm-6 col-xl-3">
        <a class="card mb-3 widget-content bg-mixed-hopes" href="#" target="_blank">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Employees</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>  4 </span></div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3  col-sm-6 col-xl-3">
        <a class="card mb-3 widget-content bg-strong-bliss" href="#" target="_blank">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Products</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span> 5 </span></div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3  col-sm-6 col-xl-3">
        <a class="card mb-3 widget-content bg-arielle-smile" href="#" target="_blank">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Sales Scheduale</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span> 6 </span></div>
                </div>
            </div>
        </a>
    </div>

</div>

