<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon"><i class="pe-7s-home icon-gradient bg-mean-fruit"></i></div>
            <div>
                Moderator Management System Helps You To Reviews Employees Registerations
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6 col-xl-3">
        <a class="card mb-3 widget-content bg-midnight-bloom" href="~/Moderators/Operations" target="_blank">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Moderators</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"> <span> 3  </span></div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3  col-sm-6 col-xl-3">
        <a class="card mb-3 widget-content bg-mixed-hopes" href="~/Employees/Operations" target="_blank">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Employees</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>  4 </span></div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3  col-sm-6 col-xl-3">
        <a class="card mb-3 widget-content bg-strong-bliss" href="~/Departments/" target="_blank">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Departments</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span> 5 </span></div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3  col-sm-6 col-xl-3">
        <a class="card mb-3 widget-content bg-arielle-smile" href="~/Categories/" target="_blank">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Categories</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span> 6 </span></div>
                </div>
            </div>
        </a>
    </div>

</div>

