<div class="panel">
    <div class="panel-heading">
        Account Requests 
    </div>
    <div class="panel-body">
        <div id="View"></div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Requests/Accounts.js"></script>
