<div class="panel">
    <div class="panel-heading">
        Following Employees Requested to add the reuqested customers to their list
    </div>
    <div class="panel-body">
        <div id="View"></div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Requests/list.js"></script>
