<div class="panel">
    <div class="panel-heading">
        Submitted  Plans
    </div>
    <div class="panel-body">
        <div id="View"></div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Requests/PlanRequests.js"></script>

