<div class="panel">
    <div class="panel-heading">
         Submitted Vacations Requests
    </div>
    <div class="panel-body">
        <div id="View"></div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Requests/Vacation.js"></script>
