<div class="panel">
    <div class="panel-heading">
        Daily Report <span id="monthTracker">[  @DateTime.Now.ToShortDateString() ] </span>
    </div>
    <div class="panel-body">
        <div id="View"></div>
        <button class="btn btn-sm btn-primary" onclick="Add()">Submit Report</button>
        <div class="alert hide" id="errorHandler"></div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Reporting/Operations.js"></script>
<script type="text/javascript" src="~/Scripts/Reporting/Add.js"></script>
